<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--パーシャル-->
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <!--パーシャル-->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!--パーシャル-->
    <%= render 'layouts/header' %>     
    <div class="container">
      <%= yield %>
      <!--パーシャル-->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

